/** media variables **/

$fx-xs: 'screen and (max-width: 599px)';
$fx-gt-xs: 'screen and (min-width: 600px)';
$fx-sm: 'screen and (min-width: 600px) and (max-width: 959px)';
$fx-gt-sm: 'screen and (min-width: 960px)';
$fx-md: 'screen and (min-width: 960px) and (max-width: 1279px)';
$fx-gt-md: 'screen and (min-width: 1280px)';
$fx-lg: 'screen and (min-width: 1280px) and (max-width: 1919px)';
$fx-gt-lg: 'screen and (min-width: 1920px)';
$fx-xl: 'screen and (min-width: 1920px)';
